<div class="c-signup">
    <section class="content-header">
      <h1>Sign Up</h1>
    </section>

    <div class="form" *ngIf="isConfirm == 0">
        <form action="javascript:void(0)" (ngSubmit)="doSubmit()">
            <div class="form-row">
                <div class="form-label required">
                    Team Name
                </div>
                <div class="form-field">
                    <input class="form-control" [ngClass]="{'hasError': formErrors?.username}" [(ngModel)]="dataForm['username']" type="text" name="signup[username]">
                    <div [ngClass]="{show: formErrors?.username}" class="label-error">
                        {{formErrors?.username}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label required">
                    Email
                </div>
                <div class="form-field">
                    <input class="form-control" [ngClass]="{'hasError': formErrors?.email}" [(ngModel)]="dataForm['email']" type="text" name="signup[email]">
                    <div [ngClass]="{show: formErrors?.email}" class="label-error">
                        {{formErrors?.email}}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-label"></div>
                <button type="submit" class="btn btn-primary">
                    Create New Team
                </button>
            </div>

            <div class="form-row">
                <div class="form-label"></div>
                <a routerLink="/admin/login">
                    Are you an administrator? Login here.
                </a>
            </div>
        </form>
    </div>

    <div *ngIf="isConfirm == 1">
        An email will also be sent to your address to confirm that your registration have completed successfully.
    </div>
</div>