<div class="c-home">
    <wo-flash></wo-flash>

    <section class="content-header">
      <h1>UC CTF Homepage</h1>
    </section>

    <div class="content">
        <div class="box">
            <div class="box-body" style="text-align:center; font-size: 25px;">
                Welcome to UC CTF Capture the Flag!
            </div>
            <div class="box-body" style="text-align:right; font-size: 20px;">
                Ohio Cyber Range in the News
            </div>
                <div class="box">
                    <embed src="https://www.uc.edu/news/articles/2019/06/n20840624.html" style="float:right; width:500px; height: 300px;">
                    <embed src="https://trailofbits.github.io/ctf/" style="float:left; width:500px; height: 300px;">
                </div>
        </div>
    </div>
</div>
