<div class="c-download">
    <wo-flash></wo-flash>

    <section class="content-header">
      <h1>Download Data</h1>
    </section>

    <div class="content">
        <div class="box">
            <div class="box-body">
                Download all site Capture the Flag data.
                </div>
        </div>
    </div>
    <div class="content" (click)="doDownloadUsers()">
        <button style="color:blue;">Download Users</button>
    </div>
    
    <div class="content" (click)="doDownloadTeams()">
        <button style="color:blue;">Download Teams</button>
    </div>

    <div class="content" (click)="doDownloadEvents()">
        <button style="color:blue;">Download Events</button>
    </div>

    <div class="content" (click)="doDownloadQuestions()">
        <button style="color:blue;">Download Challenge Repository</button>
    </div>
</div>