<div class="c-email">
    <wo-flash></wo-flash>

    <section class="content-header">
      <h1>Send Email</h1>
    </section>

    <div class="content">
        <div class="box">
            <div class="box-body">
                Send a welcome email to new teams.
                </div>
        </div>
        <textarea rows="10" cols="60">
        </textarea>
    </div>

    <div class="content">
    <button style="color:blue;">Send Email</button>
    <button style="color:orange;">Save Draft</button>
    <button style="color:red;">Cancel</button>
    </div>

</div>